adium-theme-ubuntu==0.3.4
aniso8601==2.0.0
appdirs==1.4.3
audioread==2.1.5
backports.weakref==1.0.post1
bleach==1.5.0
chardet==2.3.0
click==6.7
cryptography==1.2.3
cycler==0.10.0
Cython==0.26
decorator==4.1.2
Django>=1.11.19
dlib==19.10.0
enum34==1.1.6
face-recognition==1.2.1
face-recognition-models==0.3.0
Flask>=0.12.3
Flask-Jsonpify==1.5.0
Flask-RESTful==0.3.6
Flask-SQLAlchemy==2.3.2
funcsigs==1.0.2
functools32==3.2.3.post2
futures==3.1.1
h5py==2.7.0
html5lib==0.9999999
idna==2.0
image==1.5.17
ipaddr==2.1.11
ipaddress==1.0.16
itsdangerous==0.24
Jinja2==2.10
joblib==0.11
Keras==2.1.4
librosa==0.5.1
libvirt-python==1.3.1
Markdown==2.6.9
MarkupSafe==1.0
matplotlib==2.0.2
meld==3.14.2
mock==2.0.0
ndg-httpsclient==0.4.0
networkx==1.11
nose==1.3.7
numpy==1.13.3
olefile==0.44
opencv-python==3.3.1.11
packaging==16.8
pbr==3.1.1
Pillow==4.2.1
pkg-resources==0.0.0
protobuf==3.5.0
pyasn1==0.1.9
PyAudio==0.2.11
pygobject==3.20.0
pyOpenSSL>=17.5.0
pyparsing==2.2.0
python-dateutil==2.6.1
python-speech-features==0.6
pytz==2017.2
PyWavelets==0.5.2
PyYAML>=4.2b1
requests>=2.20.0
resampy==0.1.5
scikit-image==0.13.0
scikit-learn==0.18.2
scikits.audiolab==0.11.0
scipy==0.19.1
six==1.11.0
SQLAlchemy==1.2.2
subprocess32==3.2.7
tabulate==0.7.7
tensorflow==2.6.4
tensorflow-gpu==1.4.0
tensorflow-tensorboard==0.4.0rc3
tflearn==0.3.2
Theano==0.9.0
unity-lens-photos==1.0
urllib3>=1.23
virtualenv==15.0.1
Werkzeug==0.12.2
xlwt==1.2.0
youtube-dl==2016.2.22
